<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cuestionario</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding class="page-questionaire">
  <h3>Marque la respuesta adecuada a cada pregunta a continuación</h3>
  <p>
    <ion-item *ngFor="let r of ruleItems">
      <ion-label>{{ r.label }}</ion-label>
      <ion-checkbox color="primary" ng-model="r.model"></ion-checkbox>
    </ion-item>
  </p>
</ion-content>
